* {
    overflow: hidden;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
}

.win, .lose {
    background-color: transparent;
    width: 20%;
    height: 20%;
    position: absolute;
    color: white;
    font-size: 120px;
    font-family: 'Courier New', Courier, monospace;
}

.win {
    left: 5%;
}

.lose {
    right: -8%;
}

.up, .down {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    height: 80px;
    width: 80px;
    font-size: 70px;
    color: white;
    cursor: pointer;
    right: 0;
}

.up {
    bottom: 12%;
}

.down {
    bottom: 2%;
}
